<%= provide(:title, "Home") %>

<div class="jumbotron">
  <h1>Welcome to ContactManager!</h1>
  <p>ContactManager is an App for managing your contacts :)</p>
  <%= link_to "Sign up now!", new_user_path, class: "btn btn-primary" %>
</div>
