<%= provide(:title, "Home") %>

<div class="jumbotron">
  <h1>Welcome to ContactManager!</h1>
  <p>ContactManager is an App for managing your contacts :)</p>
  <div class="col-md-10 col-md-offset-1">
    <%= link_to "Sign up now!", signup_path, class: "btn btn-primary" %>
  </div>
</div>
